/* Balises principales / générales *****************************************/

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.dark-mode {
    background-color: rgb(40, 6, 161);
    color: white;
  }

ul li {
    list-style-type: none;
}


h1 {
    font-size: 270%;
    margin-left: 2%;
    margin-top: 1%;
    padding: 0%;
}


h2{
    text-align: center;
    font-size: 225%;
    border: solid 4px pink;
    padding: 0%;
    margin: 0%;
}

.arrow{
    height: 3em;
   /* background-color: rgb(134, 0, 187);
    border-radius: 50%; */
}

.up {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXX ******************************FIN********/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXX ****************************************/

/* HEADER *****************************************/

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}


.menu {
    display: flex;
    justify-content: right;
    font-size: 92%;
    margin-top: 5%;
}


.menu li {
    margin: 0%;
    padding: 3px;
    border: 2px solid;
    max-width: 10rem;
    max-height: 1.5rem;
    margin-right: 3rem;
    box-shadow: 0.30rem 0.30rem 0;
}

.menu li a{
     color: currentColor;
     text-decoration: none;
    
}

.btn-primary {
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: black;
    box-shadow: 0.30rem 0.30rem 0 rgb(65, 65, 65);
}

.burger li {
    margin: 4%;
    padding: 3px;
    border: 2px solid;
    max-width: 13rem;
    max-height: 3rem;
    margin-right: 3rem;
    box-shadow: 0.30rem 0.30rem 0 rgb(0, 0, 0);
    font-size: 170%;
    text-align: center;
}


header ul li a {
    text-decoration: none;
}

/***************************************************************************/
/**************************************************************************/
/* INDEX  ****************************************************************/


.rangee {
    
    margin-top: 2%;
    display: flex;
    border: solid 3px rgb(51, 238, 67);
    margin: 0%;
}


.section {
display: flex;
justify-content: center;
flex-direction: column;
text-align: center;
align-items: center;
}


.section img {
    width: 84%;
    border: solid 3px black;
    margin: 1%;
    box-shadow: 0.48rem 0.48rem 0; 
 /*  border-radius: 0%; */
}




/****************************************************************************/
/***************************************************************************/
/** ANIMES*****************************************************************/

.listeLettre {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 0.5%;
    margin-right: 3%;
    display: flex;
    justify-content: space-around;
    font-size: 92%;
   
}

.listeLettre li a{
    color: rgb(68, 68, 68);
}

.lettre {
  /*  display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%; */
    display: grid;
    grid-template-columns: 10% 80%;
    margin-top: 4%;
    margin-bottom: 4%;
}


.lettre div {
/* border: solid 3px rgb(243, 103, 133); 
display: flex;
flex-direction: row;
margin-bottom: 2%; */
}


.listeAnimes {

    display: grid;  
     /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  */
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
    justify-items: center;
    grid-gap: 0px;
    border: solid 2px yellow; 
}



.listeAnimes article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 12em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    border: solid 3px rgb(117, 103, 243);  
    margin: 6%; 
}  

.pics {
height: 10em;
min-height: 0%;
min-width: 0%;
margin-bottom: 3%;
border: solid 3px black; 
box-shadow: 0.60rem 0.60rem 0;
transition:
  box-shadow 0.3s,
  transform 0.3s;
}

.sousTitre {
  /*  display: none;  */
display: flex;
justify-content: center;
border: solid 3px rgb(209, 50, 50); 
text-align: center;
}

.alphaB{
    font-weight: bolder;
    font-size: 250%;
    text-align: center;
    margin-top: 60%;

}

/***************************************************************************/
/**************************************************************************/
/** HALL OF FAME**********************************************************/

h3 {
  font-size: 180%;
  font-weight: bold;
  padding: 0%;
  margin: 0%;
}

.genres {
    margin-top: 4%;
  /*  display: grid;
    grid-template-columns:1fr 1fr 1fr; 
    grid-gap: 10px; */
    border: solid 3px orange;
     display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.genres article{
    border: solid 2px blue;
    margin: 2%;
}

.genre {
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.imgGenre {
    padding: 0%;
    margin-bottom: 4%;
    height: 378px;
    width: 280px;
    border: solid 3px black; 
    box-shadow: 0.60rem 0.60rem 0 currentColor;
    transition:
      height 0.3s,
      width 0.3s,
      box-shadow 0.6s,
      transform 0.3s;
}


/***************************************************************************/
/**************************************************************************/
/** CONSEILS *************************************************************/



/****************************************************************************/
/***************************************************************************/
/* MEDI@ QUERIES **********************************************************/

/*   GRAND ECRAN  ---- */
@media screen and (min-width: 1150px) {
.burger {
    display: none;  
}

.imgGenre:hover {
    height: 27em;
    width: 20rem; 
    border: solid 3px black; 
    box-shadow: 0.60rem 0.60rem 0 rgb(255, 255, 255);
}
}

/*   PETIT ECRAN  ---- */
@media screen and (max-width: 1150px) {

.rangee {
    flex-wrap: wrap;
}

header .menu {
    display: none;
}

.pics {
    height: 7em;
    min-height: 0%;
    border-radius: 50%;
 
    }

.imgGenre   {
    height: 265px;
    width: 170px;
} 

h3 {
    font-size: 110%;
  }

.imgGenre:hover {
    height: 330px;
    width: 255px;
}


    }


/****************************************************************************/
/***************************************************************************/
/* HOVERS *****************************************************************/


.pics:hover {
    box-shadow: 0.60rem 0.60rem 0 rgb(131, 0, 163) ;
} 

.menu li:hover {
    
    box-shadow: 0.30rem 0.30rem 0 rgb(154, 18, 218);
}



/* POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE*/
/* Polices: -------------------------------------------- */
.pol-lovetat {
    font-family: "Love Light";
    font-weight: 400;
    font-style: normal;
  }
  
  .pol-matesie {
      font-family: "Matemasie", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  
    .pol-josefin {
      font-family: "Josefin Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
    }
  
  /* Polices  -----------------------------------------FIN */
  /* POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE*/
