/* Balises principales / générales *****************************************/

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}


h1 {
    color: black;
    font-size: 270%;
    margin-left: 2%;
    margin-top: 1%;
    padding: 0%;
}


h2{
    color: black;
    text-align: center;
    font-size: 225%;
    border: solid 4px pink;
    padding: 0%;
    margin: 0%;
}

h3 {
    font-size: 180%;
    font-weight: bold;
    padding: 0%;
    margin: 0%;
  }

h4 {
    margin: 3%;
    font-size: 180%;
}

.arrow{
    height: 3em;
   /* background-color: rgb(134, 0, 187);
    border-radius: 50%; */
}

.up {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXX ******************************FIN********/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXX ****************************************/

/* HEADER *****************************************/

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}


header .menu {
    display: flex;
    justify-content: right;
    font-size: 92%;
    margin-top: 5%;
}

.btn-primary {
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: black;
    box-shadow: 0.30rem 0.30rem 0 rgb(65, 65, 65);
}


header .menu li {
    margin: 0%;
    padding: 3px;
    border: 2px solid;
    max-width: 10rem;
    max-height: 1.3rem;
    margin-right: 3rem;
    box-shadow: 0.30rem 0.30rem 0 rgb(0, 0, 0);
}


.burger li {
    margin: 4%;
    padding: 3px;
    border: 2px solid;
    max-width: 13rem;
    max-height: 3rem;
    margin-right: 3rem;
    box-shadow: 0.30rem 0.30rem 0 rgb(0, 0, 0);
    font-size: 170%;
    text-align: center;
}


header ul li a {
    text-decoration: none;
}


/***************************************************************************/
/***************************************************************************/
/** Aventures / Bouken *****************************************************/

.lesPepites {
    margin-top: 1%;
  /*  display: grid;
    grid-template-columns:1fr 1fr 1fr; 
    grid-gap: 10px; */
    border: solid 3px orange;
     display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pepiteTxt p {
    font-size: 26px;
}

.genres article{
    border: solid 2px rgb(8, 212, 161);
    margin: 2%;
}

.laPepite {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pepiteImg {
    margin: 1%;
}

.pepiteTxt {
    margin: 1%;
}



.laPepite div {
     border: solid 1px rgb(250, 217, 33); 
}


.imgCarousel {
    /* padding: 0%; */
    /* margin-bottom: 4%; */
    height: 70vh;
    width: 23vw;
   border: solid 3px rgb(236, 16, 16)
   
    /*box-shadow: 0.60rem 0.60rem 0 rgb(0, 0, 0);
    transition:
      height 0.3s,
      width 0.3s,
      box-shadow 0.6s,
      transform 0.3s; */
}

/* Spécificités Carousel (classes déjà existantes) ---*/
.carousel {
    margin: 2%;
}

.carousel-control-prev , .carousel-control-next {
    border: solid 0px;
    background-color: rgba(255, 255, 255, 0)
}

.carousel-control-prev:hover {
    background: linear-gradient(90deg, rgba(165, 74, 230, 0.342) 0%, rgba(165, 74, 230, 0.397) 0%, rgba(95, 176, 165, 0.055) 42%, rgba(19, 71, 148, 0) 100%);
}

.carousel-control-next:hover {
  background:  linear-gradient(90deg, rgba(165, 74, 230, 0) 0%, rgba(19, 71, 148, 0) 0%, rgba(95, 176, 165, 0.39) 42%, rgba(165, 74, 230, 0.315) 100%);
}

.carousel-control-prev-icon , .carousel-control-next-icon {
   border-radius: 50%;
   border: solid 3px rgb(34, 23, 192);
   background-color: black;
}

.carousel-control-prev-icon:hover , .carousel-control-next-icon:hover {
 background-color: aqua;
}


/***************************************************************************/
/**************************************************************************/
/** CONSEILS *************************************************************/



/****************************************************************************/
/***************************************************************************/
/* MEDI@ QUERIES **********************************************************/

/*   GRAND ECRAN  ---- */
@media screen and (min-width: 1150px) {
.burger {
    display: none;  
}

/* .imgGenre:hover {
    height: 27em;
    width: 20rem; 
    border: solid 3px black; 
    box-shadow: 0.60rem 0.60rem 0 rgb(255, 255, 255);
} */

.lilScreen {
    display: none;
}

.bigScreen {
    box-shadow: 0.45rem 0.38rem 0 rgb(0, 0, 0);
}

}

/*   PETIT ECRAN  ---- */
@media screen and (max-width: 1150px) {

.rangee {
    flex-wrap: wrap;
}

header .menu {
    display: none;
}

.pics {
    height: 7em;
    min-height: 0%;
    border-radius: 50%;
 
    }

.imgGenre   {
    height: 265px;
    width: 170px;
} 

.imgCarousel {
    height: 50vh;
    width: 23vw;
}

h3 {
    font-size: 110%;
  }

/* .imgGenre:hover {
    height: 330px;
    width: 255px;
} */

.lilScreen {
    display: block;
    box-shadow: 0.30rem 0.30rem 0 rgb(0, 0, 0);
}

.bigScreen {
    display: none;
}

    }


/****************************************************************************/
/***************************************************************************/
/* HOVERS *****************************************************************/


.pics:hover {
    box-shadow: 0.60rem 0.60rem 0 rgb(131, 0, 163) ;
} 




/* POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE*/
/* Polices: -------------------------------------------- */
.pol-lovetat {
    font-family: "Love Light";
    font-weight: 400;
    font-style: normal;
  }
  
  .pol-matesie {
      font-family: "Matemasie", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  
    .pol-josefin {
      font-family: "Josefin Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
    }
  
  /* Polices  -----------------------------------------FIN */
  /* POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE*/
