/* __________________________________________________________________________/
/* Balises principales / générales *****************************************/

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.dark-mode {
    background: rgb(20,99,162);
    background: linear-gradient(0deg, rgba(20,99,162,1) 0%, rgba(31,10,116,1) 31%, rgba(80,15,129,1) 72%, rgba(20,99,162,1) 100%);
    color: white;
    h3 {
        border: none;
         box-shadow: none;
         margin-top: 2.5%;
         margin-left: 9%;
         padding-top: 1.5%;
         padding-bottom: 1.5%;
        background-image: url("../HoF/paint4.png");
        background-position: center;
        background-size: 100%;
        inline-size: 70%; 
        -webkit-text-stroke: 1.5px black;
        
    }
}

.darkModeBtn {
    font-size: 23px;
    border-radius: 70%;
    cursor: pointer;
    margin: 0%;
    padding: 0%;
    text-align: right;
    max-width: 1%;
    position: fixed;
    top: 50%;
    right: 1%;
} 

ul li {
    list-style-type: none;
}

.hr1 {
    padding: 0%;
    margin-bottom: 0.4% auto;
    text-align: center;
    width: 87%; 
}

.hr2 {
    padding: 0%;
    margin-top: 0.4% auto;
    text-align: center;
    width: 40%; 
}

.hr3 {
    padding: 0%;
    margin: 0.05% auto;
    text-align: center;
    width: 72%;
}


h1 {
    font-size: 270%;
    margin-left: 2%;
    margin-top: 1%;
    padding: 0%;
}


h2{
    text-align: center;
    font-size: 200%;
    padding: 0%;
    margin: 0%;
}

h3 {
    font-size: 198%;
    font-weight: bold;
    inline-size: 55%;
    margin-left: 25%;
    text-align: center;
   
}


h4 {
    margin: 1%;
    font-size: 100%;
    text-align: center;
}


.up {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 8px;
    bottom: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.up p {
    font-size: 30px;
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXX ******************************FIN********/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXX ****************************************/

/* HEADER *****************************************/

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}


.menu {
    display: flex;
    justify-content: right;
    font-size: 83%;
    margin-top: 5%;
}

.btn-primary {
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(113, 14, 179);
    box-shadow: 0.30rem 0.30rem 0 rgb(65, 65, 65);
    padding-top: 0%;
    padding-bottom: 0%;
}

.modal{
   color: rgb(111, 0, 155);
}


.menu li {
    margin: 0%;
    padding: 3px;
    border: 2px solid;
    max-width: 10rem;
    max-height: 1.5rem;
    margin-right: 3rem;
    box-shadow: 0.30rem 0.30rem 0;
}

.menu li a{
   color: currentColor;
   text-decoration: none;
}


.burger li {
    margin: 4%;
    padding: 3px;
    border: 2px solid;
    max-width: 13rem;
    max-height: 3rem;
    margin-right: 3rem;
    box-shadow: 0.30rem 0.30rem 0 rgb(0, 0, 0);
    font-size: 170%;
    text-align: center;
}


header ul li a {
    text-decoration: none;
}

a{
    text-decoration: none !important;
}

.back {
    font-size: 35px;
    padding: 1px;
    margin: 0%;
    text-align: center;
    max-height: 1.4rem;
    max-width: 1em;
    position: fixed;
    right: 6px;
    top: 20px;
    cursor: pointer;
    color: currentColor;
}


/**************************************************************************************/
/*************************************************************************************/
/** Touts les genres d'animes:  *****************************************************/

.lesPepites {
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.pepiteTxt .carousel .carousel-inner .carousel-item {
    min-height: 250px;
    min-width: 500px;
    align-content: center;
    text-wrap: balance;
}

.pepiteTxt .carousel .carousel-inner .carousel-item p {
    font-size: 14px;
    margin-left: 2%;
    margin-right: 1%;
   
}


.txtOthers {
    margin: 3%;
    padding: 2%;
    font-size: 18px;
    border-right: solid 3px currentColor;
    border-bottom: solid 3px currentColor;

    box-shadow: 0.80rem 0.80rem 0 rgb(252, 255, 59);
    text-align: center;
}

.txtOthers b {
    color: blueviolet;
    
}

.genres article{
    margin: 2%;
}


.laPepite {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pepiteOther {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pepiteImg {
    margin: 1%;
}

.pepiteTxt {
 margin: 1%;
 display: flex;
 justify-content: center;
 align-items: center;
}


.imgCarousel {
    height: 70vh;
    width: 23vw;
    padding: 0%;
}

.carouselOthers {
    width: 57.7vw;
    max-width: 57.7vw;
    min-width: 57.7vw; 
    height: 80vh;
    max-height: 80vh;
    min-height: 80vh;
}


.carouselOthersE {
    width: 60vw;
    max-width: 60vw;
    min-width: 60vw; 
    height: 80vh;
    max-height: 80vh;
    min-height: 80vh;
}


/* //////////////////////////////////////////////////////
/* Spécificités Carousel (classes déjà existantes) ---*/

.carousel {
    margin: 2%;
}

.carousel-control-prev , .carousel-control-next {
    border: solid 0px;
    background-color: rgba(255, 255, 255, 0)
}

.carousel-control-prev:hover {
    background: linear-gradient(90deg, rgba(165, 74, 230, 0.342) 0%, rgba(165, 74, 230, 0.397) 0%, rgba(95, 176, 165, 0.055) 42%, rgba(19, 71, 148, 0) 100%);
}

.carousel-control-next:hover {
  background:  linear-gradient(90deg, rgba(165, 74, 230, 0) 0%, rgba(19, 71, 148, 0) 0%, rgba(95, 176, 165, 0.39) 42%, rgba(165, 74, 230, 0.315) 100%);
}

.pepiteImg .carousel-control-prev-icon , .pepiteImg .carousel-control-next-icon {
   border-radius: 50%;
   border: solid 0px;
   background-color: rgb(147, 15, 255);
}

.pepiteTxt .carousel-control-prev-icon, .pepiteTxt .carousel-control-next-icon{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.089);
}

.carousel-control-prev-icon:hover , .carousel-control-next-icon:hover {
 background-color: aqua;
}


/***************************************************************************/
/**************************************************************************/
/** CONSEILS *************************************************************/

/* .     .     .    empty (a faire plus tard)

/****************************************************************************/
/***************************************************************************/
/* MEDI@ QUERIES **********************************************************/

/*   GRAND ECRAN  ---------------- */

@media screen and (min-width: 980px) {
.burger {
    display: none;  
}

.lilScreen {
    display: none;
}

.bigScreen {
    border: solid 1px;
    box-shadow: 0.75rem 0.69rem 0;

}

}

/*   PETIT ECRAN  -------------------- */

@media screen and (max-width: 980px) {

h2{
    font-size: 170%;
}   

.back {
    position: fixed;
    top: 60px;
    right: 10px;
    cursor: pointer;
}   

.up {
    right: 3%;
}

.darkModeBtn {
    
    top: 50%;
    right: 7%;
} 

.rangee {
    flex-wrap: wrap;
}

header .menu {
    display: none;
}

.pics {
    height: 7em;
    min-height: 0%;
    border-radius: 50%;
 
}

.imgGenre   {
    height: 265px;
    width: 170px;
} 


.laPepite {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


hr {
    background-color: grey;
}

.hr3 {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

h3 {
    font-size: 140%;
    text-align: center;
    box-shadow: none;
    text-align: center;
    margin-left: 0%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.h3others {
    margin-left: 0%;
}


  h4 {
   display: none;
}

.h4others{
    font-size: 90%;
}


.lilScreen {
    display: block;
    box-shadow: 0.30rem 0.30rem 0 currentColor;
}

.bigScreen {
    display: none;
}

.carouselGenraux {
    width: 90vw;
    max-width: 90vw;
    min-width: 60.7vw; 
    height: 33px;
    max-height: 33vh;
    min-height: 2vh;
}


.carouselOthers {
    width: 90vw;
    max-width: 90vw;
    min-width: 60.7vw; 
    height: 33vh;
    max-height: 33vh;
    min-height: 33vh;
}


.carouselOthersE {
    width: 56.7vw;
    max-width: 56.7vw;
    min-width: 50vw; 
    height: 80vh;
    max-height: 80vh;
    min-height: 80vh;
}


.pepiteImg {
    display: grid;
    justify-items: center;
}

.darkModeBtn, .back, .up{
color: orange;
}

}


/****************************************************************************/
/***************************************************************************/
/* HOVERS *****************************************************************/

.darkModeBtn:hover {
    color: yellow;
}  

.pics:hover {
    box-shadow: 0.60rem 0.60rem 0 rgb(131, 0, 163) ;
} 

.menu li:hover {
    box-shadow: 0.30rem 0.30rem 0 rgb(154, 18, 218);
}

.back:hover{
    color: rgb(145, 23, 226);
}

.arrow:hover {
    background-color: rgb(134, 0, 187);
    border-radius: 50%; 
}

.up:hover {
    color: rgb(145, 23, 226);
   
}



/* POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE*/
/* Polices: -------------------------------------------- */
.pol-lovetat {
    font-family: "Love Light";
    font-weight: 400;
    font-style: normal;
  }
  
  .pol-matesie {
      font-family: "Matemasie", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  
    .pol-josefin {
      font-family: "Josefin Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
    }
  
  /* Polices  -----------------------------------------FIN */
  /* POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE*/
