/* __________________________________________________________________________/
/* Balises principales / générales *****************************************/

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.dark-mode {
    background: rgb(20,99,162);
    background: linear-gradient(0deg, rgba(20,99,162,1) 0%, rgba(31,10,116,1) 31%, rgba(80,15,129,1) 72%, rgba(20,99,162,1) 100%);
    color: white;
}

.darkModeBtn {
    font-size: 23px;
    border-radius: 70%;
    cursor: pointer;
    margin: 0%;
    padding: 0%;
    text-align: right;
    max-width: 1%;
    position: fixed;
    top: 50%;
    right: 20px;
}  

.hr1 {
    padding: 0%;
    margin-bottom: 0.4% auto;
    text-align: center;
    width: 87%; 
}

.hr2 {
    padding: 0%;
    margin-top: 0.4% auto;
    text-align: center;
    width: 40%; 
}

ul li {
    list-style-type: none;
}


h1 {
    font-size: 270%;
    margin-left: 2%;
    margin-top: 1%;
    padding: 0%;
}


h2{
    text-align: center;
    font-size: 200%;
    padding: 0%;
    margin: 0%;
}


.up {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.up p {
    font-size: 30px;
}



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXX ******************************FIN********/


/* HEADER *****************************************/

header {
    display: flex;
    justify-content: space-between;
}


.menu {
    display: flex;
    justify-content: right;
    font-size: 83%;
    margin-top: 5%;
}


.menu li {
    margin: 0%;
    padding: 1px;
    border: 2px solid;
    max-width: 10rem;
    max-height: 1.5rem;
    margin-right: 3rem;
    box-shadow: 0.30rem 0.30rem 0;
}

.menu li a{
     color: currentColor;
     text-decoration: none;
}

.btn-primary {
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: black;
    box-shadow: 0.30rem 0.30rem 0 rgb(65, 65, 65);
}

.burger li {
    margin: 4%;
    padding: 3px;
    border: 2px solid;
    max-width: 13rem;
    max-height: 3rem;
    margin-right: 3rem;
    box-shadow: 0.30rem 0.30rem 0 rgb(0, 0, 0);
    font-size: 170%;
    text-align: center;
}


header ul li a {
    text-decoration: none;
}


/**************************************************************************/
/* INDEX  ****************************************************************/

.backgroundImg {
    background-color: #d5b4f36e;
 
}

.backgroundImg::before{
     content: "";
     background-image:url("../img/dreams3.webp");
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0%;
      right: 0%;
      bottom: 0%;
      left: 0%;
      opacity: 0.26;
}

.stars {
    color: yellow;
}

h1{
    position: relative;
}

.headerAccueil {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
}

.h1Accueil {
    font-size: 9rem;
}

.h3Accueil {
    font-size: 17px;
    padding: 80%;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transition:
     background-size 1s,
}

.h3Accueil a{
    text-decoration: none;
}

.h301{
    background-image: url("../img/bulle3.png");
}

.h302{
    background-image: url("../img/bulle2.webp");
}

.h303{
    background-image: url("../img/bulle1.png");
}

a{
    color: black;
    text-decoration: none;
}

.rangee {
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0%;
}

.section {
display: flex;
justify-content: center;
flex-direction: column;
text-align: center;
align-items: center;
margin: 0.5%;
padding: 0%;
position: relative;
}


.bottomright {
    position: absolute;
    bottom: 8px;
    left: 80px;
    font-size: 25px;
    color: rgb(231, 233, 154)
  }


/****************************************************************************/
/***************************************************************************/
/** ANIMES*****************************************************************/

.listeLettre {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 0.7%;
    margin-right: 3%;
    display: flex;
    justify-content: space-around;
    font-size: 92%;
}

.listeLettre li a{
    text-decoration: none;
    color: currentColor;
}

.lettre {
    display: grid;
    grid-template-columns: 10% 80%;
    margin-top: 4%;
    margin-bottom: 4%;
}


.listeAnimes {
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
    justify-items: center;
    grid-gap: 0px;
}



.listeAnimes article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 12em;
    padding-right: 0.5em;
    padding-left: 0.5em; 
    margin: 6%; 
}  

.pics {
height: 10em;
min-height: 0%;
min-width: 0%;
margin-bottom: 3%;
border: solid 3px currentColor; 
box-shadow: 0.60rem 0.60rem 0;
transition:
  box-shadow 0.2s,
  border 0.2s,
  transform 0.2s;
}

.sousTitre {
margin-top: 3%;  
display: flex;
justify-content: center;
text-align: center;
}

.alphaB{
    font-weight: bolder;
    font-size: 250%;
    text-align: center;
    margin-top: 60%;
}

/***************************************************************************/
/**************************************************************************/
/** HALL OF FAME**********************************************************/

.title{
    text-decoration: none !important;
}

h3 {
  font-size: 180%;
  font-weight: bold;
  padding: 0%;
  margin: 0%;
}

.genres {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.genres article{
    margin: 2%;
}

.genre {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 1%;
}

.imgGenre {
    padding: 0%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
    height: 378px;
    width: 280px;
    box-shadow:16px 16px 9px 0 rgb(85, 85, 85);
    transition:
      height 0.2s,
      width 0.2s,
      box-shadow 0.3s,
      transform 0.2s;
}


/***************************************************************************/
/**************************************************************************/
/** CONSEILS *************************************************************/

/* .     .     .    empty (a faire plus tard)


/****************************************************************************/
/***************************************************************************/
/* MEDI@ QUERIES **********************************************************/

/*   GRAND ECRAN  ------------------------ */
@media screen and (min-width: 1150px) {
.burger {
    display: none;  
}

}

/*   PETIT ECRAN  ------------------------ */
@media screen and (max-width: 1150px) {

.rangee {
    flex-direction: column;
    flex-wrap: wrap;
}

.h1Accueil {
    font-size: 3rem;
    padding-top: 3%;
    padding-bottom: 27%;
}

.h3Accueil{
    margin: 0%;
    padding-bottom: 47%;
    padding-top: 47%;
    align-items: center;
}

.backgroundImg::before{
    content: "";
    background-image:url("../HoF/shonen/bc4.jpg");
     background-size: cover;
     background-position: center;
     position: absolute;
     top: 0%;
     right: 0%;
     bottom: 0%;
     left: 0%;
     opacity: 0.16;
}


header .menu {
    display: none;
}

.lettre {
    margin-top: 22%;
}

.listeLettre li {
  
    margin-top: 4%;
    margin-left: 0.2%;
    margin-right: 0.6%;
    font-size: 70%;
}

.listeAnimes article {  
    margin: 1%; 
}  

.pics {
    height: 7em;
    min-height: 0%;
    border-radius: 4%;
    margin-bottom: 2%;
}

 .sousTitre {
    font-size: 89%;
}   

.listeAnimes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
}


.imgGenre   {
    height: 265px;
    width: 170px;
} 

h3 {
    font-size: 110%;
}



}


/****************************************************************************/
/***************************************************************************/
/* HOVERS *****************************************************************/

.title:hover{
   color: blueviolet;
}

.darkModeBtn:hover {
    color: yellow;
}  

.up:hover {
    color: rgb(145, 23, 226); 
}

.h3Accueil:hover {
    background-size: 51%;
}

.h3Accueil a:hover {
    color: rgb(174, 29, 241);
}

.pics:hover {
    box-shadow: 0.60rem 0.60rem 0 rgb(134, 59, 231) ;
} 

.menu li:hover {
    box-shadow: 0.30rem 0.30rem 0 rgb(154, 18, 218);
}

.imgGenre:hover { 
    height: 411px;
    width: 300px;
    box-shadow: 0.60rem 0.60rem 0 rgb(134, 38, 243);
}


/* POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE*/
/* Polices: -------------------------------------------- */
.pol-lovetat {
    font-family: "Love Light";
    font-weight: 400;
    font-style: normal;
  }
  
  .pol-matesie {
      font-family: "Matemasie", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  
    .pol-josefin {
      font-family: "Josefin Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
    }
  
  /* Polices  -----------------------------------------FIN */
  /* POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE POLICE*/
